* {
    box-sizing: border-box;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

@font-face {
  font-family: LucidaGranda;
  src: url(project3-fonts/LucidaGrande.ttf);
}

@font-face {
  font-family: LucidaGrandaBold;
  src: url(project3-fonts/LucidaGrandeBold.ttf);
}

.usyd-desk-pos {
  top: 30%;
  left: 38%;

}

.usyd-txt {
  font-family: LucidaGrandaBold;
  font-size: 78px;
  padding-top: 60px;
  font-weight: bold;

}
.button-size {
  width: 280px;
  background-color: #fce200;
  font-family: LucidaGr
}
.text-center {
  text-align: center;
}
.width {width: 100%;}


.card-bg-color {
  background-color: #f8f8f8;
}

.cards-title {
  font-family: LucidaGrandaBold;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}



.cards-text {
  font-family: LucidaGranda;
  color: #000000;
  font-size: 17px;
}

.card-icon{
  bottom: 25px;
  right: 2px;
  font-size: 23px;
}

.reward-card-icon{
  bottom: 15px;
  right: 2px;
  font-size: 23px;
}

.key-event-icon {
  bottom: 15px;
  right: 2px;
  font-size: 23px;
}

.sustainability-icon {
  bottom: 15px;
  right: 2px;
  font-size: 23px;
}

.desk-card-title {
  font-family: LucidaGrandaBold;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.desk-cards-text {
  font-family: LucidaGranda;
  color: #000000;
  font-size:14px;
}

.desk-card-icon{
  bottom: 20px;
  right: 2px;
  font-size: 16px;
}

.ipad-icon {
  bottom: 20px;
  right: 4px;
  font-size: 16px; 
}

.footer-bg {
  background-color: #000000;
  color: #ffffff;
}
.footer-text {
  font-size: 22px;
  font-family: LucidaGrandaBold;
}

.horizontal-line {
 background-color: #ffffff;
 height: 1px;
}

.footer-section-icon {
  color: #ffffff;
  font-size: 32px;
}


.footer-last-text {
  font-size: 17px;
  font-family: LucidaGranda;
}

.footer-desk-text {
  font-family: LucidaGrandaBold;
  font-size: 17px;
  color: #ffffff;
}

.desk-horizontal-line {
  background-color: #ffffff;
  height: 1px;
  margin-left: 0;
  width: 242px;
 }
 .li-style {
  list-style: none;
 }

 .footer-desk-icon {
  color: #ffffff;
  font-size: 24px;
}
.school-board-position {
  top: 10%;

}
.school-board-text {
  font-family: LucidaGrandaBold;
  font-size: 40px;
  font-weight: bold;
}

.volunteer-position {
  top: 20%;
  left: 20%;
}

.desk-school-board {
  top: 17%;
  left: 10%;
}

.button-position {
  top: 65%;
  left: 30%;
}

.button-text {
  font-family: LucidaGrandaBold;
  font-size: 20px;
  background-color: #000000;
  color: #ffffff;
}
.volunteer-button-position {
  top: 55%;
  left: 30%;
}

.membership-text {
  font-family: LucidaGrandaBold;
  font-size: 37px;
  font-weight: bold;
  top: 60px; 
  left: 75px;
}

.membership-button {
  background-color: #000000;
  top: 170px; 
  left: 135px;
}

.clubs-text {
  font-family: LucidaGrandaBold;
  font-size: 37px;
  font-weight: bold;
  top: 30px; 
  left: 120px;
}