* {
    box-sizing: border-box;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

@font-face {
  font-family: LucidaGranda;
  src: url(project3-fonts/LucidaGrande.ttf);
}

@font-face {
  font-family: LucidaGrandaBold;
  src: url(project3-fonts/LucidaGrandeBold.ttf);
}

.usyd-desktop-img {
  background: url(project3-images/USYDStoreSlide1Slider2Desktop.jpg);
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.usyd-desktop-txt {
  font-family: LucidaGrandaBold;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bolder;
}

.usyd-ipad-img {
  background: url(project3-images/GradHireSlide2Slider2Mobile.jpg);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.usyd-mobile-img {
  background: url(project3-images/USYDStoreSlide1Slider2Mobile.jpg);
  background-repeat: no-repeat;
  height: 57%;
  background-position: center;
  background-size: cover;
}
.usyd-mobile-txt {
  font-family: LucidaGrandaBold;
  font-size: 55px;
  text-transform: uppercase;
  padding-top: 124px;
}
.mobile-button-size {
  width: 280px;
  background-color: #fce200;
  font-family: LucidaGrandaBold;
  text-transform: uppercase;
}

.usyd-ipad-txt-pos {
  top: 334px;
  left: 37px;
}

.usyd-desk-pos {
  top: 300px;
  left: 300px;

}

.usyd-ipad-txt {
  font-family: LucidaGrandaBold;
  font-size: 78px;
  padding-top: 60px;
  text-transform: uppercase;
}
.button-size {
  width: 280px;
  background-color: #fce200;
  font-family: LucidaGrandaBold;
  text-transform: uppercase;
}

.ipad-button-size {
  width: 260px;
  background-color: #fce200;
  font-family: LucidaGrandaBold;
}

.text-center {
  text-align: center;
}
.width {width: 100%;}

.student-board-text {
  position: absolute;
  font-family: LucidaGrandaBold;
  font-size: 35px;
  top: 100px;
  left: 14%;
  text-transform: uppercase;
}

.student-board-link {
  position: absolute;
  font-family: LucidaGrandaBold;
  bottom: 140px;
  left: 33%;
  text-transform: uppercase;
  width: 200px;
  background-color: #000000;
}

.card-bg-color {
  background-color: #f8f8f8;
}
.volenteer {
  top: 92px;
  left: 180px;
  font-size: 35px;
  font-family:LucidaGrandaBold;
}

.volenteer-link {
  top: 200px;
  left: 190px;
  font-size: 20px;
  font-family:LucidaGrandaBold;
  background-color: #000000;
  width: 200px;
}

.cards-title {
  font-family: LucidaGrandaBold;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

.desk-card-title {
  font-family: LucidaGrandaBold;
  color: #000000;
  font-size: 20px;
}

.cards-text {
  font-family: LucidaGranda;
  color: #000000;
  font-size: 20px;
}

.card-icon{
  bottom: 25px;
  right: 2px;
  font-size: 23px;
}

.reward-card-icon{
  bottom: 15px;
  right: 2px;
  font-size: 23px;
}

.key-event-icon {
  bottom: 15px;
  right: 2px;
  font-size: 23px;
}

.sustainability-icon {
  bottom: 15px;
  right: 2px;
  font-size: 23px;
}

.desk-card-title {
  font-family: LucidaGrandaBold;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.desk-cards-text {
  font-family: LucidaGranda;
  color: #000000;
  font-size:14px;
}

.desk-card-icon{
  bottom: 20px;
  right: 2px;
  font-size: 16px;
}

.ipad-icon {
  bottom: 20px;
  right: 4px;
  font-size: 16px; 
}

.footer-bg {
  background-color: #000000;
  color: #ffffff;
}
.footer-text {
  font-size: 22px;
  font-family: LucidaGrandaBold;
}

.horizontal-line {
 background-color: #ffffff;
 height: 1px;
}

.footer-section-icon {
  color: #ffffff;
  font-size: 28px;
}


.footer-last-text {
  font-size: 17px;
  font-family: LucidaGranda;
}
